body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #root {
  background-color: rgba(250, 250, 233)
} */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");


/*
===============
Light/Dark Mode
===============
*/
.App{
  --background-color: #f0eeeb;
  --text-color: #000;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App.dark {
  --background-color: rgb(60, 60, 60);
  --text-color: rgb(45, 45, 45);
  color: var(--text-color)
}

.mode-toggle {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.mode-toggle i {
  color: var(--text-color);
  font-size: 28px;
}
/*
===============
Global Styles
===============
*/
.btn {
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

tbody tr:hover {
  background-color: rgb(255, 255, 255);
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #f0eeeb;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  height: 100%;
}
h2,h4 {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 0.875rem;
}
/* p {
  margin-bottom: 1.25rem;
  color: gray;
} */

/*
===============
Hero Image Area
===============
*/
.wave {
  animation: wave 8s ease-in-out;
}

@keyframes wave {
  0% {
    transform: translateX(3000px);
  }
  20% {
    transform: translateX(200px);
  }
  35% {
    transform: translateX(10px);
  }
  36% {
    transform: translateX(0px);
  }
}

.book-appointment-button {
  transition: transform 0.5s;
}

.book-appointment-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(253, 140, 58);
  color:rgb(226, 102, 0);
}


/*
===============
Carousel
===============
*/
.container-2 {
  padding: 25px;
}

.card {
  transition: transform 0.3s ease-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
  border-radius: 10px;
  cursor: pointer;
}

/*
===============
Reviews
===============
*/
main {
  min-height: 90vh;
  display: grid;
  place-items: center;
}
.title {
  text-align: center;
  margin-top: 0.1rem;
  margin-bottom: 2.5rem;
}
.underline {
  height: 0.25rem;
  width: 5rem;
  /* background: #2364d2; */
  background: #ec7627;
  margin-left: auto;
  margin-right: auto;
}
.container-main {
  width: 80vw;
  max-width: 600px;
}
.review {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s linear;
  text-align: center;
}
/* .review:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
} */
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  /* background: #2364d2; */
  background: #f07f44;
  color: white;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  /* background: #2364d2; */
  background: #f07f44;
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
#author {
  margin-bottom: 0.25rem;
}
#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: gray;
  font-size: 0.85rem;
}
#info {
  margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
  /* color: #2364d2; */
  color: #f07f44;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: color 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: black;
}
.orange-link-btn {
  margin-top: 0.5rem;
  background: #f07f44;
  color: white;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: 5px;
  transition: background 0.3s linear, color 0.3s linear;
  border: 1px solid #f0804494;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.orange-link-btn:hover {
  background: #ff7328;
  color: white;
  font-weight: 600;
}

/*
===============
Main Page
===============
*/
.main-page {
  flex:1;
}


/*
===============
Footer
===============
*/
.footer {
  margin-top: auto;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-app {
  padding-bottom: 100px;

}
html, body, #root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
 }
